{% extends "../base.html" %}
{% block title %}Getting Started{% endblock %}
{% block body %}
	<div id="featured" class="clear">
    <h2>Using netboot.me</h2>
    <p>There are several ways to boot into netboot.me, depending on your needs.</p>
    
    <h3>Booting from CD</h3>
    <p>Download and save <a href="http://cloud.github.com/downloads/Arachnid/netboot.me-gpxe/netbootme.iso">netbootme.iso</a>,
    then burn it to CD using your usual CD burning program. In linux, you can use
    cdrecord, OSX users can use the built-in Disk Utility, and windows users can
    use tools such as Nero Burning Rom.</p>
    <p>Once you have burned netbootme.iso to a CD, make sure your target computer
    is set up to boot from CD, insert the CD in the drive, and reboot it.</p>
    
    <h3>Booting from USB</h3>
    <p>You can also boot from USB. To do so, download and save
    <a href="http://cloud.github.com/downloads/Arachnid/netboot.me-gpxe/netbootme.usb">netbootme.usb</a>,
    then follow the OS specific instructions below.</p>
    
    <h4>Writing a USB image in Linux</h4>
    <p>Insert the USB key, and establish which device Linux has assigned to the
    USB key. Then, enter the following command:
    <code>dd if=netbootme.usb of=/dev/sdX</code>
    where <em>/dev/sdX</em> is the device assigned to your USB key. Make sure
    you enter the right device name - this will erase anything on the device
    you choose!</p>
    
    <h4>Writing a USB image in Mac OSX</h4>
    <p>Insert the USB key, and run <em>mount</em> to see what device OSX has
    assigned to your USB key. You should see something like this:
    <code>/dev/disk0s2 on / (hfs, local, journaled)<br />
devfs on /dev (devfs, local)<br />
fdesc on /dev (fdesc, union)<br />
/dev/disk3s1 on /Volumes/UNTITLED (msdos, local, nodev, nosuid, noowners)</code>
    The last line is your USB device. Unmount it and write the netboot.me image
    to it with:
    <code>sudo umount -f /dev/disk3s1<br />
dd if=netbootme.usb of=/dev/disk3</code>
    If successful, OSX will pop up an error dialog telling you it doesn't
    recognize the disk. Click 'Eject', remove the USB key, and you're done.</p>
    
    <h4>Writing a USB image in Windows</h4>
    <p>Coming soon...</p>
    
    <h3>Booting from floppy disk</h3>
    <p>If you have a computer that still has a floppy drive, it's possible to
    boot from that, too. Download and save <a href="http://cloud.github.com/downloads/Arachnid/netboot.me-gpxe/netbootme.dsk">netbootme.dsk</a>,
    then follow the same steps as described above for writing the USB disk image.</p>
	</div>
{% endblock %}
