{% extends "../base.html" %}
{% block title %}Welcome{% endblock %}
{% block body %}
	<div id="featured" class="clear">
    <h2>About netboot.me</h2>
    <p>netboot.me is a service that allows you to boot nearly any operating system
    or utility on any computer with a wired internet connection - without having to
    know ahead of time what you'll want to boot. Once you can netboot.me, you never
    need to update your boot disk again!</p>
    
    <p>netboot.me works through the magic of netbooting. There are a number of
    ways to boot a computer with netboot.me. The simplest is to
    <a href="/gettingstarted">download</a> a bootable image and burn it to a CD, USB
    memory stick, or floppy disk. Boot off it on any networked computer, and it
    will automatically fetch the latest boot options from netboot.me and let you
    choose from dozens of installation, recovery, testing, portable desktop and
    other tools. You can also start netboot.me from any computer running gPXE,
    or from any netbootable computer with some simple tweaks to your DHCP server.</p>

    <h3>See netboot.me in action</h3>
    <object style="margin-left: 2em;" classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000' codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0' width='560' height='345'><param name='movie' value='http://screenr.com/Content/assets/screenr_0817090731.swf' /><param name='flashvars' value='i=7661' /><param name='allowFullScreen' value='true' /><embed src='http://screenr.com/Content/assets/screenr_0817090731.swf' flashvars='i=7661' allowFullScreen='true' width='560' height='345' pluginspage='http://www.macromedia.com/go/getflashplayer'></embed></object> 
    <p>See netboot.me in action with a short screencast demonstrating how to use
    it as a universal bootdisk and installer.</p>

    <h3>My favorite tool or distro isn't supported!</h3>
    <p>It can be! You can <a href="/my/newconfig">create your own configuration</a>
    (a Google account is required for login). If you think the config will be
    of general interest, <a href="http://github.com/Arachnid/netboot.me/issues">
    file a bug</a> to have it included in the boot menu.</p>
  </div>
{% endblock %}
