{% extends "../base.html" %}
{% block title %}Welcome{% endblock %}
{% block body %}
	<div id="featured" class="clear">
    <h2>About netboot.me</h2>
    <p>netboot.me is a service that allows you to boot nearly any operating system
    or tool on any computer with a wired internet connection - without having to
    know ahead of time what tools you need. Once you can netboot.me, you never
    need to update your tools again!</p>
    
    <p>netboot.me works through the magic of netbooting. There are a number of
    ways to boot a computer with netboot.me. The simplest is to
    <a href="/download">download</a> a bootable image and burn it to a CD, USB
    memory stick, or floppy disk. Boot off it on any networked computer, and it
    will automatically fetch the latest boot options from netboot.me and let you
    choose from dozens of installation, recovery, testing, portable desktop and
    other tools. You can also start netboot.me from any computer running gPXE,
    or from any netbootable computer with some simple tweaks to your DHCP server.</p>
	</div>
{% endblock %}
