{% extends "../base.html" %}
{% block title %}Editing {{config.name|escape}}{% endblock %}
{% block body %}
	<div id="featured" class="clear">
    <h2>Edit configuration</h2>
    <form method="post" action="/{{config.key.id}}/edit">
      <table>
        {{form.as_table}}
      </table>
      {% if not edit_all %}
        <p>Once a config has been added to the boot menu, you cannot edit the
        URLs or boot arguments. Create a new configuration in order to do so.</p>
      {% endif %}
      <input type="submit" value="Update" />
    </form>
	</div>
{% endblock %}
