<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% block title %}{% endblock %} - netboot.me</title>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" media="screen" href="/css/screen.css" />
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
  {% block head %}{% endblock %}
</head>
<body>
<div id="wrap">
	<div id="header">			
		<h1 id="logo-text"><a href="/" title="">netboot.me</a></h1>		
		<p id="slogan">Boot anything, anywhere, anytime</p>	
		<div  id="nav">
			<ul>
        {% if user %}
          <li class="right"><a href="{{auth_url}}">Log out</a></li>
        {% else %}
          <li class="right"><a href="{{auth_url}}">Log in</a></li>
        {% endif %}
				<li class="first" {% ifequal handler "IndexHandler" %}id="current"{% endifequal %}><a href="/">Home</a></li>
        <li {% ifequal path "/gettingstarted" %}id="current"{% endifequal %}><a href="/gettingstarted">Getting Started</a></li>
        <li {% ifequal path "/help" %}id="current"{% endifequal %}><a href="/help">Help</a></li>
        <li {% ifequal handler "CategoryHandler" %}id="current"{% endifequal %}{% ifequal handler "BootConfigHandler" %}id="current"{% endifequal %}><a href="/browse/">Packages</a></li>
        {% if user %}
          <li {% ifequal handler "MyConfigsHandler" %}id="current"{% endifequal %}><a href="/my/configs">My Configs</a></li>
        {% endif %}
			</ul>
		</div>	
		<div id="header-image"></div>
	</div>
  {% block body %}{% endblock %}
	<div id="footer-bottom">
		<div class="bottom-left">
			<p>
			&copy; 2009 <strong>Nick Johnson</strong>&nbsp; &nbsp; &nbsp;
			Design by: <a href="http://www.styleshout.com/">styleshout</a> 			
			</p>
		</div>
		<div class="bottom-right">
			<p>		
				<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | 
		   	<a href="http://validator.w3.org/check/referer">XHTML</a>	|			
				<a href="/">Home</a>
			</p>
		</div>
	</div>
</div>
<script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("{{analytics_key}}");
pageTracker._trackPageview();
} catch(err) {}
</script>
</body>
</html>
